<div ng-controller="LandingCtrl" align="center">
 <!-- <ion-header-bar class="bar-positive">
      <h1 class="title">Home</h1>
</ion-header-bar> -->

  <ion-content>
  <br>
    <h3>Welcome to Ping</h3>
    <p style="margin: 20px">Ping notifies you and a contact when you are close to your destination.</p>
    <div id="circleDest"></div> <div id="circleDist"></div> <div id="circleCont"></div> 
    <p> Set a Destination</p> 
    
    <p> Set a Distance</p><br>
    
    <p> Set a contact </p>

    <div id="circle"></div> 

    <br>
    <div ng-controller="loginCtrl">
    <!-- Shan >> changed parameter for login function from 'github' to 'facebook'-->
    <button class="button"  ng-click="login('facebook')">Login with Facebook</button>
    <br>

    <a class="button" href="#/where" style="margin-top: 10px" ng-click="guest();">Use as Guest</a>
    
  <!--   <div ng-if="authData.github" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{authData.github.cachedUserProfile.avatar_url}}" alt="">
        <h2>{{authData.github.displayName}}</h2>
        <p>{{authData.github.username}}</p>
        <p>Github</p>
      </div>
    </div>
    </div> -->
    </ion-content>
  </div>
  
<!--   style="background-color:blue; color:white" -->
