  <div ng-controller="MainCtrl">
 <ion-header-bar class="bar-positive">
      <h1 class="title">Bus It Baby!</h1>
</ion-header-bar>
  <ion-content>
    <p> Welcome to Bus It Baby! With our app, you will never worry about missing your bus stop by listening to music, reading books, or accidentally falling asleep during transit. Bus It Baby! will alert you when you are with a specified distance from your destination.</p>
    <img src="http://www.baylor.edu/content/imglib/2/3/8/3/238322.gif"
      width = "200" height = "200" style = "center">


    <a class="button" href="#/signin">Sign In</a>
    <a class="button" href="#/signup">Sign Up</a>

  </ion-content>
  </div>
