<div ng-controller="MainCtrl" align="center" style="background-color:">
 <!-- <ion-header-bar class="bar-positive">
      <h1 class="title">Home</h1>
</ion-header-bar> -->

  <ion-content  class="mainpage">
  <br>
    <h1>Ping</h1>
    <p></p>
    <div class="one">

    <br>
      <h4 class="text">Set Your Destination</h4>
    </div>
    <div class="two">
     <br>
      <h4>Set Your Distance</h4>
    </div>
    <div class="three">
     <br>
      <h4>Set Your Contact</h4>
    </div>
    <br>
<!--     <div id="circle"></div>  -->

    <div ng-controller="loginCtrl">
    <!-- Shan >> changed parameter for login function from 'github' to 'facebook'-->
    <button class="fbbutton"  ng-click="login('facebook')">Login with Facebook</button>
    <br>

    <a class="button" href="#/where" style="margin-top: 10px" ng-click="guest();">Use as Guest</a>
    
  <!--   <div ng-if="authData.github" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{authData.github.cachedUserProfile.avatar_url}}" alt="">
        <h2>{{authData.github.displayName}}</h2>
        <p>{{authData.github.username}}</p>
        <p>Github</p>
      </div>
    </div>
    </div> -->
    </ion-content>
  </div>
  
<!--   style="background-color:blue; color:white" -->
