<ion-header-bar class="bar-positive">
      <h1 class="title">Time to Wake Up!</h1>
</ion-header-bar>
	<ion-content>
		<h3> You have reached your destination!
				Thank you for choosing Bus It Baby!</h3>
		<div id="logo">
			 <img src="http://www.baylor.edu/content/imglib/2/3/8/3/238322.gif"
      width = "200" height = "200" style = "center">
		</div>

		<div class="row">
      <div class="col text-center">
      <a class="button" href="#/main">Start Over</a>
      <a class="button" href="#/signin">Log Out</a>
      </div>
    </div>

	</ion-content>