<ion-header-bar class="bar-positive">
      <h1 class="title">Record your own alarm!</h1>
</ion-header-bar>
<ion-content class="padding">

		<div class="row">
			<div class="col">

				<label class="item item-input">
					<input type="text" ng-model="sound.name" placeholder="Name">
				</label>
			</div>
		</div>				

		<div class="row">
			<div class="col">
				<button class="button button-block button-balanced icon-left ion-android-microphone" ng-click="record()">Record</button>
			</div>
			<div class="col">
				<button class="button button-block button-balanced icon-left ion-play" ng-click="play()">Play</button>
			</div>
		</div>	



		<div class="row">
			<div class="col">
				<a href="#/alarm"><button class="button button-block button-positive" ng-click="saveSound()">Save</button></a>
			</div>
		</div> 
		
  </ion-content>