<ion-view view-title="WhenAlert">

<!--   <ion-header-bar class="bar-positive">
    <h1 class="title">Ben</h1>
  </ion-header-bar> -->
  
  <ion-content class="when">
  <br><br>
    <!-- map has to have size or it will not show up -->
    <h3 style="padding: 5%; text-align: center">Set your distance</h3>
    <p style="padding: 5%">How far away do you want from your destination do you want to send a ping?</p>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
        Distance
        </div>
        <select class="distance" ng-model="miles">
          <option selected disabled>Miles</option>
          <option>0.5</option>
          <option>1</option>
          <option>1.5</option>
          <option>2</option>
        </select>
      </label>
    </div>
    <br>
    <div style="text-align: center" ng-click="setMiles(miles);">
    <a class="button" href="#/where">Previous</a>
    <a class="button" ui-sref="whotomessage">Next</a>
    </div>
  </ion-content>

</ion-view>
