<ion-view view-title="Where">

  <ion-header-bar class="bar-positive">
        <h1 class="title">Bus It Baby!</h1>
  </ion-header-bar>
    <ion-content>
    <br><br><br>
    <!-- <div>test{{where.displayName}}</div>; -->
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="where.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Location" ng-model="where.location">
      </label>
    </div>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Previous Locations
        </div>
        <select>
          <option>Home</option>
          <option>Work</option>
          <option>School</option>
          <option>Library</option>
        </select>
      </label>

    </div>
    <div style="text-align: center">
      <a class="button" href="#/when" >Next</a>
    </div>
    
  </ion-content>

</ion-view>