<ion-view view-title="whotomessage">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">BUS IT BABE</h1>
  </ion-header-bar>
  <ion-content has-subheader="false">
  <br>
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Who do you want to message</span>
      <input type="text" placeholder="mom">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Phone Number</span>
      <input type="text" placeholder="123-456-7890">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Message to text</span>
      <input type="text" placeholder="almost there, be ready">
    </label>
  </div>

  <button class="button button-block button-light">
    SKIP
  </button>
  <button class="button button-block button-stable">
    CONTINUE
  </button>

</ion-view>